body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    flex-direction: column;
}

.container {
    margin-top: auto;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

img {
    width: 100px;
    height: auto;
}

footer {
    margin-top: auto;
    background-color: #f4f4f4;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}